body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(260, 100%, 10%);
}

button {
  padding: 8px 24px;
  background-color: hsl(80, 100%, 40%);
  border-radius: 5px;
  border: 3px solid hsl(320, 100%, 40%);
  font-family: monospace;
  text-align: center;
  font-size: 1.5rem;
  color: hsl(280, 100%, 10%);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: hsl(80, 100%, 60%);
}

#grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.grid-item {
  width: 10px;
  height: 10px;
  background-color: hsl(80, 100%, 40%);
}

.grid-item:hover {
  background-color: hsl(80, 100%, 20%);
  transition: background-color 0.1s ease;
}

.hovered {
  background-color: hsl(80, 100%, 20%);
}
