body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: auto;
}

.grid-item {
  width: 20px;
  height: 20px;
  background-color: hsl(0, 0%, 80%);
}

.grid-item:hover {
  background-color: hsl(0, 0%, 30%);
  transition: background-color 0.2s ease;
}

.hovered {
  background-color: hsl(0, 0%, 30%);
}
